* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.Priority {
  padding: 10px;
}
.Priority-Header {
  padding: 10px 0px;
}

.btn {
  width: 50px;
  height: 30px;
  background-color: rgb(121, 213, 182);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#Priority-Table {
  margin: 20px;
  padding: 20px;
  /* border: 1px solid rgb(101, 101, 101); */
}
#Priority-Table th {
  padding: 10px;
  border: 1px solid rgb(101, 101, 101);
}
#Priority-Table td {
  margin: 20px;
  border: 1px solid rgb(101, 101, 101);
  text-align: center;
}
#progress-bar_p {
  display: flex;
}
